/************* VARIABILI ************/
$colore-secondario: rgb(182, 182, 182);

/************* GENERALE **************/
a{text-decoration: none;
color: white;}

/*************** HEADER *************/

header{
    background: black;
    position: fixed;
    width: 100%;
    margin-top: -1%;
    nav{
        float: right;
        width: 85%;
        font-size: 137%;
        margin-top: 3%;
    }
    #container{
        margin: 0 15%;
        padding: 1% 0;
        img {
            width: 11%;
        }
        li{
            display: inline;
        }
        a{
            color: $colore-secondario;
            text-transform: uppercase;
            margin: 2%;
            &:hover{
                color: orange;
            }
        }   
    }
}

.container{
    background: linear-gradient(0deg, black, transparent),
                url(sfondo.jpg);
    background-size: 70%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: white;
    .item{
    padding: 30%;
    padding-top: 22%;
    }
    .testo{
    font-size: 230%;
    border-style: solid;
    border-color: white;
    border-width: 8px;
    margin-left: -32%;
    margin-right: 36%;
    padding: 5%;
    p{
        color: $colore-secondario;
    }
    img{
        width: 22%;
        margin-left: 82%;
       }
    }
}

#contatti{
    background: black;
    padding-top: 8%;
    padding-bottom: 8%;
    .contact {
        text-align: center;
        color: $colore-secondario;
        .text{
            font-size: 237%;
            margin: 0 15%; 
        }
    }
    .chiamo-prenota{
        padding: 0% 45%;
    }
    .chiama, .prenota {
    border-style: solid;
    border-color: white;
    border-width: 2px;
    padding: 2%;
    margin: 10%;
    &:hover{
        background: orange;
    }
  }
} 

#program{
    margin: 10% 15%; 
    margin-bottom: 40%;
    .text{
        width: 50%;
        float: left;
        h3{
            font-size: 29px;
        }
        .button{
            border-style: solid;
            margin-right: 68%;
            border-color: black;
            text-align: center;
            &:hover{
                background: orange;
            }
        }
    }
    .foto{
        width: 49%;
        float: right;
        img{
            width: 99%;
        }
    }
}

#striscia{
    clear: both;
    background: black;
    color: white;
    .item{
        padding-bottom: 1%;
    }
    h2{
        text-align: center;
        padding: 2%;
    }
    .in{
        float: left;
        margin-left: 13%;
        text-align: center;
    }
    .schede-mirate{
        margin-left: 4%;
        text-align: center;
    }
}